html {
    font-size: 100%;/* 16px */
}

body {
    color: #24292e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.3rem;/* 16pxの1.3倍 */
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.site-title {
    line-height: 1px;
    font-weight: 600;
    font-size: 2.4rem;
}

.site-title a {
    color: #24292e;
}

.sec-title {
    font: size 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

/* header */
#header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 150px;/* header部高さ */
}

header ul {
    display: flex;
    padding: 5px 0;
    align-items: center;
}

header ul li {
    font-size: 0.9rem;
    margin: 20px;
}

header ul li a {
    color: #24292e;
    transition: all 0.3s;
}

header ul li a:hover {
    opacity: 0.5;
}

header li img.icon {
    width: 5px;
}

/* main */
#main {
    margin-bottom: 80px;
}

#main img {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    object-fit: cover;
}

.toTop {
    /*  */
    position: fixed;
    right: 20px;
    bottom: 50px;
    background-color: rgb(99, 99, 231);
    color: #fff;
    padding: 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.5s;
}

main a:hover {
    opacity: 0.5;
}

/* 予定行事 */
#monthly_events dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c8c8c8;
    margin-bottom: 20px;
}

#monthly_events dt {
    width: 20%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}

#monthly_events dd {
    width: 80%;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
}

/* 月間行事 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 80px;
   
    height: 150px;
}

.cal-title td {
    border-top: 1px solid #c8c8c8;
    text-align: center;
}

table tr th{
    width: 15%;
    height: 40px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}

table tr td {   
    width: 70%;
    height: 40px;
    border-bottom: 1px solid #c8c8c8;
}

/* 理事会 */
#board_meeting ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#board_meeting ul li {
    width: 31%;
    margin-bottom: 23%;
}

#board_meeting ul li img {
    cursor: pointer;
    transition: 0.3s;
}

#board_meeting ul li img:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.7s;
}
/* 回覧板 */
#circulars ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

#circulars ul li {
    width: 31%;
    margin-bottom: 23px;
}

#circulars ul li img {
    cursor: pointer;
    transition: 0.3s;
}

#circulars ul li img:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.7s;
}

/* 問合せ */

#contact p {
    text-align: center;
    margin-bottom: 20px;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
}

#contact dt {
    width: 15%;
    margin-bottom: 10px;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea  {
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}

#contact .button {
    text-align: center;
}

#contact .button input {
    border: 1px solid #24292e;
    background-color: #24292e;
    width: 200px;
    padding: 15px 0;
    color: #fff;
    transition: all 0.3s;
}

#contact .button input:hover {
    background-color: #fff;
    color: #24292e;
}

/* footer */
footer {
    width: 100%;
}
footer p{
    text-align: center;
    

}
/* sph */
@media screen and (max-width: 756px) {
    .site-title {
        margin-top: 30px;
    }
/* header */
#header {
    flex-direction: column;
    height: auto;
    line-height: 20px;
    margin-top: 10px;
}

header li {
    margin-top: 20px;
    font-size: 0.8rem;
    margin-left: 20px;
}

header li img.icon {
    width: 20px;
    margin-top: 5px;
}

/* 予定行事 */

#monthly_events dl {
    flex-direction: column;
}

#monthly_events dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
}

#monthly_events dd {
    width: 100%;
    padding-top: 0;
}

/* 理事会 */
#board_meeting ul {
    flex-direction: column;
}

#board_meeting ul li {
    width: 100%;
}

/* 回覧板 */
#circulars ul {
    flex-direction: column;
}

#circulars ul li {
    width: 100%;
}

/* 問合せ */

#contact dl {
    flex-direction: column;
}

#contact dt {
    width: 100%;
    margin-bottom: 5px;
}

#contact dd {
    width: 100%;
}
}